.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
}

#logo {
  padding: 15px;
}

#button-add {
  background: orange;
  cursor: pointer;
  box-shadow: 1px 4px rgb(216, 211, 202);
}

#devicesTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#devicesTable td,
#devicesTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#devicesTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#devicesTable tr:hover {
  background-color: #ddd;
}

#devicesTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 10%;
  padding-right: 50px;
}
.right-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1000;
}
.top-panel {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.main-panel {
  background: lightcyan;
}

.area1 {
  background-color: white;
  margin: 40px;
}

.area {
  padding: 20px;
  margin: 40px;
  display: flex;
  justify-content: space-between;
}

.area2 {
  margin: 40px;
  flex-basis: 50%;
  background-color: white;
}

.area3 {
  margin: 40px;
  flex-basis: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.field {
  border: none;
  background-color: rgb(211, 202, 182);
  padding: 15px;
  margin: 10px;
  min-width: 200px;
  border-radius: 15px;
}

th,
td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

a {
  text-decoration: none;
}

@media (max-width: 415px) {
  table,
  .left-column,
  .top-panel {
    display: none;
  }
  .area {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
}
